<?xml version="1.0" encoding="uTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zys.springbootuploaddownload.dao.StudentDao">

    <!--导入数据-->
    <insert id="importExcel">
        <foreach collection="list" item="item">
            insert ignore into student(sno,name,sex,phone)
            values(#{item.sno},#{item.name},
            case
            WHEN(#{item.sex}='男') THEN 0
            WHEN(#{item.sex}='女') THEN 1
            end,
            #{item.phone});
        </foreach>
    </insert>
    <select id="queryList" resultType="com.zys.springbootuploaddownload.entity.Student">
        select sno,name,
            case
            WHEN(sex=0) THEN '男'
            WHEN(sex=1) THEN '女'
            end sex,
        phone from student
    </select>
</mapper>
